<%- include('partials/header') %>
<main class="container">
  <h1>About Me</h1>
  <img src="/images/me.jpg" alt="Your name" />
  <p>This is Lud</p>
  <a href="/resume.pdf">View my resume</a>
</main>
<%- include('partials/footer') %>
