<%- include('partials/header') %>
<main class="container">
  <body class="d-flex flex-column min-vh-100">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</main>

<%- include('partials/footer') %>
