<%- include('partials/header') %>
<main class="container">
  <h1>Projects</h1>
  <div class="project">
    <img src="/images/project1.png" alt="Project 1" />
    <p>project 1</p>
  </div>
</main>
<%- include('partials/footer') %>
